<nav class="navbar">
  <%= link_to 'Simple AirBnB', flats_path, class: "navbar-brand" %>
  <%= link_to 'Add Flat', new_flat_path, class: "btn btn-primary" %>
  <div class="navbar-collapse">
    <div class="ml-auto flex">
      <form action="" class="form-inline"></form>
    </div>
  </div>
</nav>
